<%- include("header") -%>

<div class="box" id="heading">
    <!-- ejs templating -->
    <h1><%= title %></h1>
</div>

<div class="box">
    <% for( let index = 0; index < newListItems.length; index++ ) { %>
    <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%= newListItems[index]._id %>"
                onChange="this.form.submit()" />
            <p><%= newListItems[index].name %></p>
        </div>
        <% } %>
        <input type="hidden" name="listName" value="<%= title %>"></input>
    </form>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Enter new item" autocomplete="off" />
        <button type="submit" name="list" value="<%= title %>">+</button>
    </form>
</div>

<%- include("footer") -%>